<h1>{{page_function}}</h1>

{{#if isManager}}
<h1>Manage Restaurants</h1>
  {{#if restaurants.length}}
    {{#each restaurants}}  
    <h1>{{restaurantName}}</h1>
    <ul>
      <li>
        <a href="/orders/placed/{{_id}}">View Placed Orders</a>
        <li>
        <a href="/orders/completed/{{_id}}">View Completed Orders</a>
      </li>
      </li>
      <li>
        <a href="/restaurants/menu/edit/{{_id}}">Edit Menu</a>
      </li>
      <li>
        <a href="/restaurants/{{_id}}/reviews">View Comments</a>
      </li>
    </ul>
    {{/each}}
  {{/if}}
{{/if}}

{{#if isManager}}
<a href="/restaurants/create">Need to add a restaurant? Click here!</a>
{{else}}
<a href="/restaurants">Ready to order? Click here to find some food!</a>
{{/if}}