<h1>{{page_function}}</h1>
<a href="/restaurants/{{restaurantId}}/reviews">Back to Restaurant Reviews</a>
{{#if reviews.length}}
  {{#each reviews}}
         <div>
            <div class="col-2 font-weight-bold">Username:</div> <div class="col-10"> {{userName}}</div>
          
          <div class=" mb-2"><img src="/public/images/{{imageName}}" alt="Review Image"></div>
          
            <div class="col-2 font-weight-bold">Review:  </div><div class="col-10">{{review}}</div>
          
          
            <div class="col-2 font-weight-bold">Date: </div><div class="col-10">{{date}}</div>
          
          
            <div class="col-2 font-weight-bold">Rating: </div><div class="col-10">{{rating}}</div>
          
          <div id="likePartial_{{_id}}"  class="row mb-2">
          {{> likes}}
          </div>
          <div id="dislikePartial_{{_id}}" class="row  mb-2">
          {{> dislikes}}
          </div>
          <form method="POST" id="Edit_Review" action="/profile/reviews/{{restaurantId}}/edit" enctype="multipart/form-data">
            <input type="hidden" id="reviewId" name="reviewId" value={{_id}}>
            <input type="hidden" id="restaurantId" name="restaurantId" value={{restaurantId}}>
            <label for="review">Edited Review</label>
            <input type="text" name="review" maxlength="280" required>
            <label for="rating">New Rating</label>
            <input type="number" name="rating" min="1" max="5" required>
            <label for="photo">Replacement photo</label>
            <input type="file" id="photo" name="photo" accept="image/png, image/jpeg, image/jpg">
            <button type="submit">Edit Review</button>
        </form>
          <form method="POST" action="/profile/reviews/{{restaurantId}}/remove" id="ReomveReview">
              <input type="hidden" id="reviewId" name="reviewId" value={{_id}}>
              <input type="hidden" id="restaurantId" name="restaurantId" value={{restaurantId}}>
              <button type="submit">Delete Review</button>
            </form>
          </div>
  {{/each}}
{{else}}
<p>No reviews by {{userName}} have been posted for {{restaurantName}}</p>
{{/if}}