<h1>{{page_function}}</h1>
<a href="/restaurants/{{restaurantId}}/reviews">Back to Restaurant Reviews</a>
{{#if replies.length}}
  {{#each replies}}
         <div class="reply_div w-75">
              <div class="row mb-2">
                <div class="col-2 font-weight-bold">Username:</div> <div class="col-10">{{userName}}</div>
              </div>
              <div class="row mb-2">
                <div class="col-2 font-weight-bold">Reply:</div> <div class="col-10">{{reply}}</div>
              </div>
              <div class="row mb-2">
                <div class="col-2 font-weight-bold">Date:</div> <div class="col-10">{{date}}</div>
              </div>
            </div>

          <form method="POST" id="Edit_Reply" action="/profile/replies/{{../restaurantId}}/edit">
            <input type="hidden" id="replyId" name="replyId" value={{_id}}>
            <input type="hidden" id="restaurantId" name="restaurantId" value={{../restaurantId}}>
            <input type="hidden" id="reviewId" name="reviewId" value={{reviewId}}>
            <label for="review">Edited Reply</label>
            <input type="text" name="reply" maxlength="280" required>
            <button type="submit">Edit Reply</button>
        </form>
          <form method="POST" action="/profile/replies/{{../restaurantId}}/remove" id="ReomveReply">
              <input type="hidden" id="replyId" name="replyId" value={{_id}}>
              <input type="hidden" id="restaurantId" name="restaurantId" value={{../restaurantId}}>
              <input type="hidden" id="reviewId" name="reviewId" value={{reviewId}}>
              <button type="submit">Delete Reply</button>
            </form>
          </div>
  {{/each}}
{{else}}
<p>No replies by {{userName}} have been posted for {{restaurantName}}</p>
{{/if}}