<div class="ml-4 prof heading_font mb-3"><div class="mb-0">{{page_function}}</div></div>

{{#if isManager}}
<div class="pl-4"><h1>Manage Restaurants</h1></div>
  {{#if restaurants.length}}
    {{#each restaurants}}  
    <h2>{{restaurantName}}</h2>
    <div class="pl-4">
      <ul>
        <li class="mb-2">
          <a href="/orders/placed/{{_id}}" class="ord_color">View Placed Orders</a>
        </li>
        <li class="mb-2">
          <a href="/orders/completed/{{_id}}" class="ord_color">View Completed Orders</a>
        </li>
        <li class="mb-2">
          <a href="/restaurants/menu/edit/{{_id}}" class="ord_color">Edit Menu</a>
        </li>
        <li class="mb-2">
          <a href="/restaurants/{{_id}}/reviews" class="ord_color">View Comments</a>
        </li>
      </ul>
    </div>
    {{/each}}
  {{/if}}
{{else}}

  <div class="ur_prof_info ml-4 pl-3">
    <div class="row mb-2"><div class="col-3 font-weight-bold">User Name: </div><div class="col-9">{{user.userName}}</div></div>
    <div class="row mb-2"><div class="col-3 font-weight-bold">Street Address: </div><div class="col-9 texxt_overflow">{{user.streetAddress}}</div></div>
    <div class="row mb-2"><div class="col-3 font-weight-bold">City: </div><div class="col-9">{{user.city}}</div></div>
    <div class="row mb-2"><div class="col-3 font-weight-bold">State: </div><div class="col-9">{{user.state}}</div></div>
    <div class="row mb-2"><div class="col-3 font-weight-bold">Zip: </div><div class="col-9">{{user.zip}}</div></div>
    <div class="row mb-2"><div class="col-3 font-weight-bold">Email: </div><div class="col-9">{{user.email}}</div></div>
    <div class="row mb-2"><div class="col-3 font-weight-bold">Phone: </div><div class="col-9">{{user.phone}}</div></div>
  </div class="ur_prof_info">

<div class="pl-4">
  <ul class="mt-3">
    <li class="mb-2 mt-2">
      <a href="/orders/{{userId}}/incomplete" class="ord_color">View Incomplete Orders</a>
    </li>
    <li class="mb-2">
      <a href="/orders/{{userId}}/placed" class="ord_color">View Placed Orders</a>
    </li>
    <li class="mb-2">
      <a href="/orders/{{userId}}/completed" class="ord_color">View Completed Orders</a>
    </li>
    <li class="mb-2">
      <a href="/orders/{{userId}}/favorites" class="ord_color">View Favorites</a>
    </li>
  </ul>
</div>
{{/if}}

{{#if isManager}}
<div class="pl-4"><a class="bottom_link" href="/restaurants/create">Need to add a restaurant? Click here!</a></div>
{{else}}
<div class="pl-4"><a class="bottom_link" href="/restaurants">Ready to order? Click here to find some food!</a></div>
{{/if}}
