<div class="your_replies_heading ml-4 mb-3">{{page_function}}</div>
<a href="/restaurants/{{restaurantId}}/reviews">Back to Restaurant Reviews</a>

{{#if replies.length}}
  {{#each replies}}
  <div class="ml-4 reply_div w-50">  
    <div class="">
      <div class="row mb-2">
        <div class="col-2 font-weight-bold">Username:</div> <div class="col-10">{{userName}}</div>
      </div>
      <div class="row mb-2">
        <div class="col-2 font-weight-bold">Reply:</div> <div class="col-10">{{reply}}</div>
      </div>
      <div class="row mb-2">
        <div class="col-2 font-weight-bold">Date:</div> <div class="col-10">{{date}}</div>
      </div>
    </div>
    <div class="row pl-3">
    <form class="row col-9" method="POST" id="Edit_Reply_{{_id}}" action="/profile/replies/{{../restaurantId}}/edit">
      <input type="hidden" id="EditReplyId_{{_id}}" name="replyId" value={{_id}}>
      <input type="hidden" id="EditRestaurantId_{{_id}}" name="restaurantId" value={{../restaurantId}}>
      <input type="hidden" id="EditReviewId_{{_id}}" name="reviewId" value={{reviewId}}>

      <div>
        <label for="reply_{{_id}}" class="font-weight-bold">Edited Reply</label>
        <input class="ml-5  mb-0" type="text" id="reply_{{_id}}" name="reply" maxlength="280" required>
      </div>
      
      <button type="submit" class="ml-5">Edit Reply</button>
    </form>
    <form class="col-3" method="POST" action="/profile/replies/{{../restaurantId}}/remove" id="ReomveReply_{{_id}}">
        <input type="hidden" id="RemoveReplyId_{{_id}}" name="replyId" value={{_id}}>
        <input type="hidden" id="RemoveRestaurantId_{{_id}}" name="restaurantId" value={{../restaurantId}}>
        <input type="hidden" id="RemoveReviewId_{{_id}}" name="reviewId" value={{reviewId}}>
      
        <button type="submit">Delete Reply</button>
    </form>
    </div>        
  </div>
  {{/each}}
{{else}}
<p>No replies by {{userName}} have been posted for {{restaurantName}}</p>
{{/if}}