<div class="your_reviews ml-4">{{page_function}}</div>
<a href="/restaurants/{{restaurantId}}/reviews">Back to Restaurant Reviews</a>

{{#if reviews.length}}
  {{#each reviews}}
          <div class="pl-3 reviews ml-4 mt-2">

              <div class="row mb-2">
                <div class="col-2 font-weight-bold">Username:</div> <div class="col-10"> {{userName}}</div>
              </div>
              <div class="row mb-2 pl-3">
                <div class=" mb-2"><img src="/public/images/{{imageName}}" alt="Review Image"></div>
              </div>
              <div class="row mb-2">
                <div class="col-2 font-weight-bold">Review:  </div><div class="col-10">{{review}}</div>
              </div>
              <div class="row mb-2">
                <div class="col-2 font-weight-bold">Date: </div><div class="col-10">{{date}}</div>
              </div>
              <div class="row mb-2">
                <div class="col-2 font-weight-bold">Rating: </div><div class="col-10">{{rating}}</div>
              </div>
          
            <div id="likePartial_{{_id}}"  class="row mb-2">
              {{> likes}}
            </div>
            <div id="dislikePartial_{{_id}}" class="row  mb-2">
             {{> dislikes}}
            </div>

            <form method="POST" id="Edit_Review_{{_id}}" action="/profile/reviews/{{restaurantId}}/edit" enctype="multipart/form-data">
              <input type="hidden" id="EditReviewId_{{_id}}" name="reviewId" value={{_id}}>
              <input type="hidden" id="EditRestaurantId_{{_id}}" name="restaurantId" value={{restaurantId}}>

              
              <div class="mb-2"><label for="review_{{_id}}" class="font-weight-bold">Edited Review</label>
                <input type="text" id="review_{{_id}}" name="review" maxlength="280" required>
              </div>
              <div class="mb-2"><label for="rating_{{_id}}" class="font-weight-bold">New Rating</label>
                <input class="ml-3" type="number" id="rating_{{_id}}" name="rating" min="1" max="5" required>
              </div>
              <div class="mb-2"><label for="photo_{{_id}}" class="font-weight-bold">Replacement photo</label>
                <input type="file" id="photo_{{_id}}" name="photo" accept="image/png, image/jpeg, image/jpg">
              </div>
              <button type="submit" class="mt-1">Edit Review</button>
            </form>
            <form method="POST" action="/profile/reviews/{{restaurantId}}/remove" id="RemoveReview_{{_id}}">
              <input type="hidden" id="RemoveReviewId_{{_id}}" name="reviewId" value={{_id}}>
              <input type="hidden" id="RemoveRestaurantId_{{_id}}" name="restaurantId" value={{restaurantId}}>
              <button type="submit">Delete Review</button>
            </form>
          </div>
  {{/each}}
{{else}}
<p>No reviews by {{userName}} have been posted for {{restaurantName}}</p>
{{/if}}