<h1>{{page_function}}</h1>
{{#if error}}
<h2 id="error">{{error}}</h2>
{{/if}}
<h2>Edit Item</h2>
<form method="POST" id="menu-form" action="/restaurants/menu/modify/{{restaurant._id}}/{{foodItem._id}}/" enctype="multipart/form-data">
<label id="itemName">Food name:
    <input type = "text" name="itemName" placeholder="Food name" value="{{foodItem.itemName}}"/>
</label>
<br>
<label id="price">Price:
    <input type = "text" name="price" placeholder="5.99" value="{{foodItem.price}}"/>
</label>
<br>
<label id="photo">Optionally upload an item photo
    <input type="file" id="photo" name="photo" accept="image/png, image/jpeg, image/jpg">
</label>
<br>
{{#if foodItem.isBurger}}
<label id="superburger">Super Burger
    <input type = "radio" name="customType" value="superburger" checked/>
</label>
<label id="notsuperburger">Not Super Burger
    <input type = "radio" name="customType" value="notsuperburger"/>
</label>
<br>
<p id="superburgerselected">No customization can be added for the Super Burger</p>
<div id="customArea" hidden>
    <p id="error" hidden>Custom Option Cannot Be Empty</p>
    <label id="customText">Custom Option
        <input type = "text" name="customText" id="customTextbox" class="customOptions" placeholder="Custom Option"/>
    </label>
    <label id="addCustom">
        <input type="submit" id="addCustomButton" value="Add Item"/>
    </label>
    <label id="deleteCustom">
        <input type="submit" id="deleteCustomButton" value="Delete Last Item"/>
    </label>
    <ul id="customList"></ul>
    
<br>
{{else}}
<label id="superburger">Super Burger
    <input type = "radio" name="customType" value="superburger" />
</label>
<label id="notsuperburger">Not Super Burger
    <input type = "radio" name="customType" value="notsuperburger" checked/>
</label>
<br>
<p id="superburgerselected" hidden>No customization can be added for the Super Burger</p>
<div id="customArea">
    <p id="error" hidden>Custom Option Cannot Be Empty</p>
    <label id="customText">Custom Option
        <input type = "text" name="customText" id="customTextbox" class="customOptions" placeholder="Custom Option"/>
    </label>
    <label id="addCustom">
        <input type="submit" id="addCustomButton" value="Add Item"/>
    </label>
    <label id="deleteCustom">
        <input type="submit" id="deleteCustomButton" value="Delete Last Item"/>
    </label>
    <ul id="customList">
        {{#each foodItem.customizableComponents}}
        <li id="item{{@index}}">{{this}}</li>
        {{/each}}
    </ul>
    
<br>
{{/if}}
</div>
<label id="submit">Submit:
    <input type="submit" id="submitButton"/>
</label>
</form>

<script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src='/public/js/menuEdit_jq.js'></script>