<div class="ml-4 comp_order_heading heading_font mb-3"><div class="mb-0">{{page_function}}</div></div>

<div class="ml-4"><a class="link_color" href="/restaurants">Back to Restaurants List</a></div>

<div class="ml-4"><a class="link_color" href="/restaurants/{{restaurant._id}}/cart">View my cart</a></div>
{{#if restaurant.menuItems.length}}
  {{#each restaurant.menuItems}}
{{#if this.isBurger}}
<div class="ml-4 mb-3 pl-3 pr-3 mt-2 food_item_box">
<div class="heading_font food_item_head_color">{{this.itemName}}</div>
<div class="row mb-2 fs_20">
  <div class="col-1 font-weight-bold">Price:</div>
  <div class="col-10">{{this.price}}</div>
</div>

<img src="/public/images/{{imageName}}" alt="Menu Item Image">
<form method="POST" id={{this._id}}>
  <div class="box">
    <div class="bread_top" id="bread_top_css">
      <div class="seeds1"></div>
      <div class="seeds2"></div>
      <div class="seeds3"></div>
      <div class="seeds4"></div>
      <div class="seeds5"></div>
    </div>
    <div class="lettuce" id="lettuce_css"></div>
    <div class="bacon" id="bacon_css"></div>
    <div class="cheese" id="cheese_css"></div>
    <div class="meat" id="meat_css"></div>
    <div class="bread_bottom" id="bread_bottom_css"></div>
  </div>
  <input type="hidden" name="id" value={{this._id}}>
  <input type="hidden" name="itemName" value="{{this.itemName}}">
  <input type="hidden" name="price" value={{this.price}}>
  <label><input onclick="getValue()" type="checkbox" name="bread_top" id="bread_top" checked> Top Bread</label>
  <label><input onclick="getValue()" type="checkbox" name="lettuce" id="lettuce" checked> Lettuce</label>
  <label><input onclick="getValue()" type="checkbox" name="bacon" id="bacon" checked> Bacon</label>
  <label><input onclick="getValue()" type="checkbox" name="cheese" id="cheese" checked> Cheese</label>
  <label><input onclick="getValue()" type="checkbox" name="meat" id="meat" checked> Meat</label>
  <label><input onclick="getValue()" type="checkbox" name="bread_bottom" id="bread_bottom" checked> Bottom Bread</label>
  <label><input type="number" name="quantity" step="1" min="1">Quantity</label>
  <button type="submit" id="btn-id_{{this._id}}">Submit</button>
</form>
</div>

 {{else}}
<div class="ml-4 mb-3 pl-3 pr-3 food_item_box">
  <div class="heading_font food_item_head_color">{{this.itemName}}</div>
  <div class="row mb-2 fs_20">
    <div class="col-2 font-weight-bold">Price:</div>
    <div class="col-10">{{this.price}}</div>
</div>
  <img src="/public/images/{{imageName}}" alt="Menu Item Image">
  <form method="POST" id={{this._id}}>
    <input type="hidden" name="id" value={{this._id}}>
    <input type="hidden" name="itemName" value="{{this.itemName}}">
    <input type="hidden" name="price" value={{this.price}}>
    {{#each this.customizableComponents}}
    <label><input onclick="getValue()" type="checkbox" name="{{this}}" id="customItem{{@index}}_{{../_id}}"> {{this}}</label>
    {{/each}}
    <label><input type="number" name="quantity" step="1" min="1">Quantity</label>
    <button type="submit" id="btn-id_{{_id}}">Submit</button>
    </form>
</div>
  {{/if}}
  {{/each}}
  {{!-- <button class="cart" onclick="getValue_item()">Add to cart</button> --}}
{{else}}
<p class="btm_no_orders mt-3">This restaurant hasn't created their menu yet!</p>
{{/if}}
<script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src='/public/js/restaurant_jq.js'></script>