<div>
<div class="restaurantsPage_heading">{{page_function}}</div>
{{#if restaurantArray.length}}
    <body>
    {{#each restaurantArray}}  
      <div class="row w-30 rest">        
        {{#if ../isManager}}
          <div class="col-6 restName_link"><p>{{restaurantName}}</p></div>
        {{else}}
          <div class="col-6 restName_link"><a href="/restaurants/{{_id}}" class="">{{restaurantName}}</a></div>
        {{/if}}
        <div class="col-3"><a href="/restaurants/{{_id}}/reviews" class="reviews_link">Reviews</a></div>
        <div class="col-3"><p>Rating: {{rating}}</p></div>
      </div>
      <br>
    {{/each}}
    </body>
{{/if}}
</div>