<div>
  <div class="row ml-3 mb-2 fs_20">
    {{#if userName}}
    <div class="pr-2">Wecome back</div><div class="user_color">"{{userName}}"</div>
    {{/if}}
  </div>
<div class="restaurantsPage_heading">{{page_function}}</div>
{{#if restaurantArray.length}}
    <body>
    {{#each restaurantArray}}  
      <div class="rest">
        <div class="m-0 row">        
          {{#if ../isManager}}
            <div class="col-6 restName_link"><p>{{restaurantName}}</p></div>
          {{else}}
            <div class="col-6 restName_link"><a href="/restaurants/{{_id}}" class="">{{restaurantName}}</a></div>
          {{/if}}
        
          <div class="col-3"><a href="/restaurants/{{_id}}/reviews" class="reviews_link">Reviews</a></div>
          <div class="col-3 row"><p class="font-weight-bold pr-2">Rating:</p> <p>{{rating}}</p></div>
        </div>
        <div class="row mt-2">
          <div class="col-3 font-weight-bold">Street Address:</div>
          <div class="pl-0 col-9">{{streetAddress}}</div>
        </div>
        <div class="row">
          <div class="col-2 font-weight-bold">City:</div>
          <div class="col-4 ml-lg-n5">{{city}}</div>
        
          <div class="col-2 font-weight-bold">State:</div>
          <div class="col-4 ml-lg-n5 pl-4">{{state}}</div>
        </div>
        <div class="row">
          <div class="col-2 font-weight-bold">Email:</div>
          <div class="col-4 ml-lg-n5">{{email}}</div>

          <div class="col-2 font-weight-bold">Phone:</div>
          <div class="col-4 ml-lg-n5 pl-4">{{phone}}</div>
        </div>
        <div class="row">
          <div class="col-3 pr-0 font-weight-bold">Food Types:</div>  
          <div class="col-9 pl-0">
            <ul>
            {{#each foodTypes}}
              <li>{{this}}</li>
            {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <br>
    {{/each}}
    </body>
{{/if}}

{{#if orders.length}}
<a href="/orders/{{userId}}/favorites">Your Favorites</a>
{{#each orders}}

<ul>
  {{#each itemsOrdered}}
      <li>{{itemName}}</li>
  {{/each}}
</ul>
{{/each}}
{{/if}}
</div>