<h1>{{page_function}}</h1>
{{#if restaurantArray.length}}
    <body>
    {{#each restaurantArray}}  
      <div>
        <a href="/restaurants/{{_id}}">{{restaurantName}}</a>
        <a href="/restaurants/{{_id}}/reviews">Reviews</a>
        <p>Rating: {{rating}}</p>
      </div>
      <br>
    {{/each}}
    </body>
{{/if}}