<div class="ml-4 comp_order_heading heading_font mb-3"><div class="mb-0">{{page_function}}</div></div>

{{#if error}}
<h1 id="error">{{error}}</h1>
{{/if}}

<h1>Completed Orders:</h1>
{{#if orders.length}}
{{#each orders}}

<div class="incomp_order_box mb-3 ml-4 pl-3">
    <div  class="row mb-2">
        <div class="col-4 pr-0 font-weight-bold">User:</div><div class="col-8 pl-0"> {{userName}}</div>
    </div>

    <div class="row mb-2">
        <div class="col-4 pr-0 font-weight-bold">Delivery Address:</div> <div class="col-8 pl-0 texxt_overflow">{{deliveryAddress}}</div>
    </div>
    
    <div class="row mb-2">
        <div class="col-4 pr-0 font-weight-bold">Ordered Items:</div>
        <div class="col-8 pl-0">
            <ul>
                {{#each itemsOrdered}}
                    <li>{{itemName}}</li>
                    {{#if customizableComponents.length}}
                    <li>
                    <ul>
                        {{#each customizableComponents}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                    </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<h5 class="btm_no_orders">There are currently no orders completed!</h5>
{{/if}}

<script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src='/public/js/menuEdit_jq.js'></script>